* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.68;
  background-color: #F2F2F2;
  color: #141414;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 2rem;
  gap: 2rem;
}

header {
  border-bottom: 1px solid #141414;
}

h1 {
  font-size: 2rem;
}

.byline {
  font-size: 0.875rem;
}

main {
  display: grid;
  gap: 1.25rem;
}

footer {
  border-top: 1px solid #141414;
  font-size: 0.75rem;
}
