
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #F2F2F2;
  color: #141414;
}


.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
  padding: 2rem;
}

/* HEADER */
header {
  border-bottom: 1px solid #141414;
  padding-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.byline {
  font-size: 0.875rem;
}


main {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 600px) 1fr;
}

article {
  grid-column: 2;
}

article p {
  margin-bottom: 1.25rem;
}

footer {
  border-top: 1px solid #141414;
  padding-top: 1rem;
  font-size: 0.75rem;
}
