body {
    background: #fafafa;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

.death {
    position: absolute;
    color: red;
    font-size: 32px;
    font-weight: bold;
}

.cost {
    position: absolute;
    color: blue;
    font-size: 16px;
    font-weight: normal;
}

h1 {
    font-family: monospace;
}