* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
  color: #141414;
}

.container {
  height: 100vh;
  width: 100%;
}

/* top area with buttons */
.filters,
.list {
  background-color: #f15b31;
  padding: 20px;
  width: 100%;
}

.filters {
  height: 10vh;
}

.list {
  height: 90vh;
  background: lemonchiffon;
}

/* buttons */
.filter-btn {
  color: white;
  background-color: #f15b31;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 8px;
}

.filter-btn.active {
  background: #16b5ef;
}

/* grid of cards */
ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

li {
  list-style-type: none;
  border: 2px solid #141414;
  padding: 40px;
  background: white;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 3px;
}

/* for showing/hiding later */
ul .card.hide {
  display: none;
}
ul .card.show {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
